<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference
            for="Magento\Webpos\Test\Handler\Denomination\DenominationInterface"
            type="Magento\Webpos\Test\Handler\Denomination\Curl" />
    <preference
        for="Magento\Webpos\Test\Handler\Location\LocationInterface"
        type="Magento\Webpos\Test\Handler\Location\Curl" />
    <preference
            for="Magento\Webpos\Test\Handler\Role\RoleInterface"
            type="Magento\Webpos\Test\Handler\Role\Curl" />
    <preference
            for="Magento\Webpos\Test\Handler\Pos\PosInterface"
            type="Magento\Webpos\Test\Handler\Pos\Curl" />
    <preference
        for="Magento\Webpos\Test\Handler\Staff\StaffInterface"
        type="Magento\Webpos\Test\Handler\Staff\Curl" />
    <preference
            for="Magento\Webpos\Test\Handler\Zreport\ZreportInterface"
            type="Magento\Webpos\Test\Handler\Zreport\Webapi" />
    <preference for="Magento\Webpos\Test\Handler\BundleProduct\WebposBundleProductInterface" type="Magento\Webpos\Test\Handler\BundleProduct\Curl" />

</config>
